/*
웹페이지 전체 가로길이 1200px
브라우저 가운데 정렬
header 세로 : 100px
lnb 가로 : 250px
Lnb, contents 사이의 여백 : 50px
footer 세로 : 300px

*/



.wrap{
  width: 1200px;
  margin:0 auto;
}

.header{
  height: 100px;
  margin-bottom: 20px;

  color: #fff;
  background-color: #666;
}

.container:after{
  content:"";
  display: block;
  clear: both;
}

.lnb{
  width: 250px;
  height: 400px;
  margin-right: 20px;
  float: left;

  color: #fff;
  background-color: #777;

}

.contents{
  width: 930px;
  height: 800px;
  float: right;

  color: #fff;
  background-color: #999;
}

.footer{
  height: 300px;
  margin-top: 20px;
  clear: both;

  color: #fff;
  background-color: #888;
}






