body{
    background: #00a0d1;
}

.header{
    width: 1903px;
    z-index: 999;
    position: fixed;

}

.logo{
    text-indent: -99999em;
    width: 141px;
    height: 29px;
    background: url(../images/s1_mini_logo.png) no-repeat;
    position: fixed;
    top: 14px;
    left: 16px;
}

.gnb{
    position: fixed;
    top: 24px;
    left: 29%;
}

.depth1_list{
    float: left;
    margin: 0 35.5px 0;
}

.depth1_list:first-child>a{
    display: block;
    text-indent: -99999em;
    width: 68px;
    height: 9px;
    background: url(../images/s1_st_menu.png) no-repeat 0 0;
}

.depth1_list:nth-child(2)>a{
    display: block;
    text-indent: -99999em;
    width: 86px;
    height: 9px;
    background: url(../images/s1_st_menu.png) no-repeat -139px 0;
}

.depth1_list:nth-child(3)>a{
    display: block;
    text-indent: -99999em;
    width: 82px;
    height: 9px;
    background: url(../images/s1_st_menu.png) no-repeat -296px 0;
}

.depth1_list:nth-child(4)>a{
    display: block;
    text-indent: -99999em;
    width: 123px;
    height: 9px;
    background: url(../images/s1_st_menu.png) no-repeat -449px 0;
}

.depth1_list:last-child>a{
    display: block;
    text-indent: -99999em;
    width: 107px;
    height: 9px;
    background: url(../images/s1_st_menu.png) no-repeat -643px 0;
}

.sns_icon{
    position: fixed;
    top: 18px;
    right: 55px;
}

.sns_icon_list{
    float: left;
    margin: 0 6px 0;
}

.sns_icon_list:first-child>a{
    display: block;
    text-indent: -99999em;
    width: 20px;
    height: 19px;
    background: url(../images/s1_st_icon.png) no-repeat 0 0;
}

.sns_icon_list:nth-child(2)>a{
    display: block;
    text-indent: -99999em;
    width: 20px;
    height: 19px;
    background: url(../images/s1_st_icon.png) no-repeat -32px 0;
}

.sns_icon_list:last-child>a{
    display: block;
    text-indent: -99999em;
    width: 20px;
    height: 19px;
    background: url(../images/s1_st_icon.png) no-repeat -63px 0;
}














.container01{
    width: 100%;
    height: 1080px;
    background: url(../images/s1_bg.png) no-repeat;
    position: relative;
    float: left;
}

.loading_logo{
    text-indent: -99999em;
    width: 280px;
    height: 227px;
    background: url(../images/s1_loading_logo.png) no-repeat;
    position: absolute;
    top: 396px;
    left: 42%;
}

.main_text{
    text-indent: -99999em;
    width: 435px;
    height: 20px;
    background: url(../images/s1_text.png) no-repeat;
    position: absolute;
    top: 653px;
    left: 38%;
}













.container02{
    width: 100%;
    height: 1080px;
    background: url(../images/s2_bg.png) no-repeat;
    position: relative;
    float: left;

}

.con02_teeth_img{
    width: 657px;
    height: 715px;
    background: url(../images/s2_tooth_img.png) no-repeat;
    position: absolute;
    left: 234px;
    top: 256px;
}

.con02_text_box{
    position: absolute;
    top: 325px;
    left: 1000px;
}

.con02_text_box>div:first-child{
    text-indent: -99999em;
    width: 400px;
    height: 84px;
    background: url(../images/s2_text_img01.png) no-repeat;
}

.con02_text_box>div:nth-child(2){
    text-indent: -99999em;
    width: 526px;
    height: 91px;
    background: url(../images/s2_text_img02.png) no-repeat;
    margin-top: 61px;
}

.con02_text_box>div:last-child{
    text-indent: -99999em;
    width: 540px;
    height: 111px;
    background: url(../images/s2_text_img03.png) no-repeat;
    margin-top: 57px;
}

.con02_page_list:first-child{
    /*display: none;*/
}

.con02_page_list:nth-child(2){
    display: none;
}


.con02_2_teeth_img{
    width: 790px;
    height: 774px;
    background: url(../images/s2_2_tooth_img.png) no-repeat;
    position: absolute;
    top: 256px;
    left: 208px;
}

.con02_2_text_box{
    position: absolute;
    top: 283px;
    left: 996px;
}

.con02_2_title_text{
    text-indent: -99999em;
    width: 394px;
    height: 127px;
    background: url(../images/s2_2_text_img01.png) no-repeat;
    margin-bottom: 73px;
}

.con02_2_text_list>li:first-child{
    text-indent: -99999em;
    width: 280px;
    height: 44px;
    background: url(../images/s2_2_st_text_img02.png) no-repeat;
    margin-bottom: 61px;
}

.con02_2_text_list>li:nth-child(2){
    text-indent: -99999em;
    width: 280px;
    height: 44px;
    background: url(../images/s2_2_st_text_img02.png) no-repeat 0 -105px ;
    margin-bottom: 61px;
}

.con02_2_text_list>li:last-child{
    text-indent: -99999em;
    width: 340px;
    height: 44px;
    background: url(../images/s2_2_st_text_img02.png) no-repeat 0 -210px ;
}





















.container03{
    width: 100%;
    height: 3739px;
    background: url(../images/s3_bg.png) no-repeat;
    position: relative;
    float: left;
}

.con03_content_box{
    text-align: center;
    vertical-align: middle;
    margin: 401px auto 0;

}

.con03_title{
    text-indent: -99999em;
    width: 319px;
    height: 41px;
    background: url(../images/s3_text_img01.png) no-repeat;
    margin: 0 auto;

}

.con03_sub_title{
    text-indent: -99999em;
    width: 850px;
    height: 73px;
    background: url(../images/s3_text_img02.png) no-repeat;
    margin: 131px auto 0;
}

.con03_img01{
    width: 400px;
    height: 400px;
    background: url(../images/s3_img01.png) no-repeat;
    margin: 311px auto 0;
}

.con03_text01{
    text-indent: -99999em;
    width: 484px;
    height: 68px;
    background: url(../images/s3_text_img03.png) no-repeat;
    margin: 47px auto 0;
}

.con03_img02{
    width: 437px;
    height: 444px;
    background: url(../images/s3_img02.png) no-repeat;
    margin: 311px auto 0;
}

.con03_text02{
    text-indent: -99999em;
    width: 619px;
    height: 110px;
    background: url(../images/s3_text_img04.png) no-repeat;
    margin: 47px auto 0;
}

.con03_img03{
    width: 402px;
    height: 402px;
    background: url(../images/s3_img03.png) no-repeat;
    margin: 311px auto 0 ;
}

.con03_text03{
    text-indent: -99999em;
    width: 666px;
    height: 76px;
    background: url(../images/s3_text_img05.png) no-repeat;
    margin: 47px auto 0;
}










.container04{
    width: 100%;
    height: 1080px;
    background: url(../images/s4_bg.png) no-repeat;
    position: relative;
    float: left;

}

.con04_img01{
    width: 715px;
    height: 581px;
    background: url(../images/s4_product_img.png) no-repeat;
    position: absolute;
    top: 386px;
    left: 63px;
}

.con04_text_box{
    position: absolute;
    top: 329px;
    left: 695px;

}

.con04_text01{
    text-indent: -99999em;
    width: 486px;
    height: 133px;
    background: url(../images/s4_text_img01.png) no-repeat;
    margin-bottom: 49px;
}


.con04_text02_btn{
    display: block;
    text-indent: -99999em;
    width: 361px;
    height: 27px;
    background: url(../images/s4_text_img02_btn.png) no-repeat;
}


















.container05{
    width: 100%;
    height: 1080px;
    position: relative;
    float: left;
}

.con05_page_list:first-child{
    width: 100%;
    height: 1080px;
    background: url(../images/s5_bg.png) no-repeat;
}

.con05_look_page_btn{
    display: block;
    text-indent: -99999em;
    width: 314px;
    height: 82px;
    background: url(../images/s5_look_btn.png) no-repeat;
    position: absolute;
    top: 105px;
    left: 41%;
}

.con05_look_page_btn:hover{
    display: block;
    text-indent: -99999em;
    width: 314px;
    height: 82px;
    background: url(../images/s5_look_btn_hover.png) no-repeat;
    position: absolute;
    top: 105px;
    left: 42%;
}

.con05_iphone{
    width: 665px;
    height: 783px;
    background: url(../images/s5_iphone_hend.png) no-repeat;
    position: absolute;
    top: 297px;
    left: 457px;
}


.con05_title{
    text-indent: -99999em;
    width: 484px;
    height: 239px;
    background: url(../images/s5_title.png) no-repeat;
    position: absolute;
    top: 361px;
    right: 356px;
}

.con05_download_btn{
    display: block;
    text-indent: -99999em;
    width: 478px;
    height: 237px;
    background: url(../images/s5_app_store_btn.png) no-repeat;
    position: absolute;
    right: 405px;
    bottom: 214px;
}


.con05_page_list:first-child{
    /*display: none;*/
}

.con05_page_list:last-child{
    display: none;
}


.con05_page_list:nth-child(2){
    width: 100%;
    height: 1080px;
    background: url(../images/s5_2_bg.png) no-repeat;
}



.con05_2_download_page_btn{
    display: block;
    text-indent: -99999em;
    width: 314px;
    height: 82px;
    background: url(../images/s5_2_app_download_btn.png) no-repeat;
    position: absolute;
    top: 105px;
    right: 42%;
}

.con05_2_download_page_btn:hover{
    display: block;
    text-indent: -99999em;
    width: 314px;
    height: 82px;
    background: url(../images/s5_2_app_download_btn_hover.png) no-repeat;
    position: absolute;
    top: 105px;
    right: 42%;
}

.con05_2_iphone{
    width: 415px;
    height: 689px;
    background: url(../images/s5_2_iphone.png) no-repeat;
    position: absolute;
    left: 528px;
    bottom: 94px;
}

.con05_2_iphone_screen{
    width: 259px;
    height: 459px;
    background: url(../images/s5_2_app_splesh.png) no-repeat;
    position: absolute;
    top: 71px;
    left: 9px;
}

.con05_2_menu{
    position: absolute;
    right: 581px;
    bottom: 257px;
}

.con05_2_menu_list{
    text-indent: -99999em;
    height: 73px;
    margin-bottom: 63px;
}

.con05_2_menu_list:first-child{
    width: 275px;
    background: url(../images/s5_2_menu.png) no-repeat 0 0;
}

.con05_2_menu_list:nth-child(2){
    width: 283px;
    background: url(../images/s5_2_menu.png) no-repeat 0 -136px;
}

.con05_2_menu_list:nth-child(3){
    width: 281px;
    background: url(../images/s5_2_menu.png) no-repeat 0 -272px;
}

.con05_2_menu_list:last-child{
    width: 226px;
    background: url(../images/s5_2_menu.png) no-repeat 0 -408px;
    margin-bottom: 0;
}










.container06{
    width: 100%;
    height: 4968px;
    background: url(../images/s6_bg.png) no-repeat;
    position: relative;
    float: left;
}

.con06_title{
    text-indent: -99999em;
    width: 639px;
    height: 167px;
    background: url(../images/s6_title_text_img.png) no-repeat;
    position: absolute;
    top: 437px;
    right: 447px;
}


.con06_polygon1{
    text-indent: -99999em;
    width: 630px;
    height: 814px;
    background: url(../images/s6_polygon01.png) no-repeat;
    position: absolute;
    top: 94px;
}

.con06_polygon2{
    text-indent: -99999em;
    width: 705px;
    height: 814px;
    background: url(../images/s6_polygon02.png) no-repeat;
    position: absolute;
    top: 732px;
    left: 296px;
}

.con06_fla_img01{
    text-indent: -99999em;
    width: 507px;
    height: 433px;
    background: url(../images/s6_fla_tooth.png) no-repeat;
    position: absolute;
    top: 1139px;
    right: 150px;
}

.con06_bg2{
    
}








/********************진*입*금*지********************/
/*****************건*들*지*마*시*오*****************/





.blind{
    display: none;
}

.left-float{
    float: left;
}

.right-float{
    float: right;
}

.clearfix:after{
    content:"";
    display:block;
    clear:both;
}